* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

h1 {
  text-align: center;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

#nav {
  text-align: center;
  width: 100%;
  height: 70px;
  background: #ccc;
  padding: 1px;
}
#nav p {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #666;
}
#nav a {
color: white;
}

#loaderIcon {
  visibility: hidden;
  width: 10px;
  height: 10px;
}

#div_login {
  display: block;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

#quiz_wrapper {
  display: block;
  width: 59%;
  margin: auto;
}

#div_quiz {
  width: 100%;
  display: block;
    margin: 0px;
    padding: 0px;
}

.quizQWrapper {
  display: inline-block;
  width: 100%;
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
}

.courseWrapper {
  display: inline-block;
  width: 47%;
  height: 280px;
  background-color: #ccc;
  padding: 20px;
  margin: 10px;

}

.buttonbox {
  width: 100%;
  border: 0px;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 50px;
}
.buttonbox:hover {
  box-shadow: 1px 1px 3px 1px #666;
}

.rightChoice {
  background-color: green;
}

.wrongChoice {
  background-color: red;
}
